package layouts

templ Sidebar() {
	<aside class="w-64 bg-base-100 border-r h-screen p-4">
		<h2 class="font-bold text-xl mb-4">Daisy Pharmacy</h2>
		<ul class="menu">
			<li><a class="active">Dashboard</a></li>
			<li><a href="/patients">Patients</a></li>
			<li><a href="/prescriptions">Prescriptions</a></li>
			<li><a>Audits</a></li>
			<li><a>Messages <div class="badge badge-info">12</div></a></li>
		</ul>
	</aside>
}
