package layouts

import (
	"context"
	"pharmacy-modernization-project-model/internal/platform/paths"
	components "pharmacy-modernization-project-model/web/components/elements"
	usercomponents "pharmacy-modernization-project-model/web/components/user"
)

templ Sidebar(ctx context.Context) {
	<aside class="flex h-screen w-64 flex-col border-r bg-base-100 p-4">
		<!-- Header and User Profile Section -->
		<div class="mb-4">
			<h2 class="text-xl font-bold">Daisy Pharmacy</h2>
			<div class="mt-4">
				@usercomponents.UserInfo(ctx, usercomponents.UserInfoParams{
					ShowEmail:    true,
					ShowDevBadge: true,
					Compact:      false,
				})
			</div>
		</div>
		<nav class="flex-1 overflow-y-auto">
			<ul class="menu gap-1">
				<li><a href={ paths.DashboardPath }>Dashboard</a></li>
				<li><a href={ paths.PatientsPath }>Patients</a></li>
				<li><a href={ paths.PatientSearchPath } hx-boost="false">Patient Search</a></li>
				<li><a href={ paths.PrescriptionsPath }>Prescriptions</a></li>
				<li><a>Audits</a></li>
				<li><a>Messages <div class="badge badge-info">12</div></a></li>
			</ul>
			<div class="divider">Developer</div>
			<ul class="menu gap-1">
				<li><a href={ paths.GraphQLPlayground } hx-boost="false" target="_blank">GraphQL Playground</a></li>
			</ul>
		</nav>
		<div class="mt-auto border-t border-base-300 pt-4">
			@components.ThemeSelection()
		</div>
	</aside>
}
