
package dashboard_page

import (
	"fmt"
	commonComponents "pharmacy-modernization-project-model/web/components/elements"
	layouts "pharmacy-modernization-project-model/web/components/layouts"
)

type DashboardPageParam struct {
	NumberOfPatients    int
	ActivePrescriptions int
}

templ DashboardPage(pageParam DashboardPageParam) {
	@layouts.BaseLayout("Dashboard", dashboard(pageParam))
}

templ dashboard(pageParam DashboardPageParam) {
	<div class="flex flex-col gap-4" data-component="dashboard.dashboard-page">
		@commonComponents.PageHeader("Dashboard")
		<section class="grid gap-4 p-4 md:grid-cols-2">
			@commonComponents.StatisticsCard("Total Patients", fmt.Sprintf("%d", pageParam.NumberOfPatients), "since last month")
			@commonComponents.StatisticsCard("Active Prescriptions", fmt.Sprintf("%d", pageParam.ActivePrescriptions), "since last month")
		</section>
		<section class="p-4">
			Dashboard content goes here...
		</section>
	</div>
}
