package components

templ StatisticsCard(label string, value string, sub string) {
	<div class="card bg-base-100 shadow">
		<div class="card-body">
			<div class="text-sm opacity-60">{ label }</div>
			<div class="text-4xl font-bold">{ value }</div>
			<div class="text-xs opacity-60">{ sub }</div>
		</div>
	</div>
}
