package components

import (
	"fmt"
	commonComponents "github.com/pharmacy-modernization-project-model/internal/ui/common/components"
	layouts "github.com/pharmacy-modernization-project-model/internal/ui/common/layouts"
)

templ DashboardPage(pats int, actives int) {
	@layouts.BaseLayout("Dashboard", dashboard(pats, actives))
}

templ dashboard(pats int, actives int) {
	<div class="flex">
		@layouts.Sidebar()
		<main class="flex-1">
			@commonComponents.PageHeader("Dashboard")
			<section class="p-4 grid gap-4 md:grid-cols-2">
				@commonComponents.StatisticsCard("Total Patients", fmt.Sprintf("%d", pats), "since last month")
				@commonComponents.StatisticsCard("Active Prescriptions", fmt.Sprintf("%d", actives), "since last month")
			</section>
			<section class="p-4">
				Dashboard content goes here...
			</section>
		</main>
	</div>
}
