package prescription_list

import (
	commonComponents "github.com/pharmacy-modernization-project-model/internal/ui/common/components"
	layouts "github.com/pharmacy-modernization-project-model/internal/ui/common/layouts"
)

type PrescriptionListPageParam struct {
	NumberOfPrescriptions int
}

templ PrescriptionListPage(pageParam PrescriptionListPageParam) {
	@layouts.BaseLayout("Prescription List", prescriptionList(pageParam))
}

templ prescriptionList(pageParam PrescriptionListPageParam) {
	<div class="flex">
		@layouts.Sidebar()
		<main class="flex-1">
			@commonComponents.PageHeader("Prescriptions")
			<section class="p-4">
				Prescription content goes here...
				<div class="mt-4 text-sm opacity-60">Total prescriptions: { pageParam.NumberOfPrescriptions }</div>
			</section>
		</main>
	</div>
}
