package components

import svg "pharmacy-modernization-project-model/web/components/svg"

type SVGIconParams struct {
	ClassName string
	ViewBox   string
	IconName  string
}

templ SVGIcon(params SVGIconParams) {
	switch params.IconName {
		case "sun":
			@svg.SunIcon(params.ClassName, params.ViewBox)
		case "moon":
			@svg.MoonIcon(params.ClassName, params.ViewBox)
		case "edit":
			@svg.EditIcon(params.ClassName, params.ViewBox)
	}
}
